Repository sebc-dev/blog-payload: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

:construction_worker: CI/CD : Add PostgreSQL readiness check and update test database URI configuration
  .github/workflows/ci.yml
Due: none

:art: Refactor linting configuration and update unit test setup for improved clarity and performance
  .github/workflows/ci.yml
  .lintstagedrc.json
  package.json
  tests/unit/collections/media-configuration.unit.spec.ts
  vitest.unit.config.ts
Due: eslint --fix, prettier --write

:art: Update CI configuration and refactor payload types for improved consistency and clarity
  .github/workflows/ci.yml
Due: none

:art: Refactor payload types for improved consistency and clarity; update test database URI check in setup tests
  tests/int/setup.test.ts
Due: eslint --fix, prettier --write

:art: Refactor payload types for improved consistency and clarity; update test database URI check in setup tests
  src/app/my-route/route.ts
Due: eslint --fix, prettier --write

:art: Update README.md for bilingual blog project overview and structure; rename isolation tests document
  .yarnrc
  README.md
  docs/PROBLEME_ISOLATION_TESTS.md
  package-lock.json
  test.env
  vitest.config.mts
Due: prettier --write

:art: Enhance pre-commit hooks with user feedback and timeout; add Gitleaks and Lighthouse CI configurations; update Dockerfile for health checks and security improvements
  .github/workflows/ci.yml
  .gitleaks.toml
  .husky/pre-commit
  Dockerfile
  docs/rapports/devops_pipeline_2025.md
  docs/rapports/pipelines-optimales.md
  docs/setup-github-secrets.md
  lighthouserc.js
  next.config.mjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/deploy.sh
Due: eslint --fix, prettier --write

:art: Comment out E2E tests and Gitleaks scan in CI configuration for security enforcement
  .github/workflows/ci.yml
Due: none

:art: Enable Gitleaks scan in CI configuration for secrets detection
  .github/workflows/ci.yml
Due: none

:art: Update CI configuration to use secrets for database URI and payload secret
  .github/workflows/ci.yml
Due: none

:art: Update CI configuration to improve Gitleaks settings and optimize checkout depth
  .github/workflows/ci.yml
Due: none

:art: Configure Gitleaks to use allowlist for known safe secrets
  .github/workflows/ci.yml
Due: none

:art: Update CI configuration to improve Gitleaks settings and optimize checkout depth
  .github/workflows/ci.yml
  docs/rapports/optimisation-cache.md
Due: prettier --write

:art: Update Gitleaks configuration to add additional allowlist entries and enable summary
  .github/workflows/ci.yml
  .gitleaks.toml
Due: none

:art: Update Gitleaks configuration to enhance allowlist entries and add GitHub Actions secrets rules
  .gitleaks.toml
Due: none

:art: Update Gitleaks configuration to enhance allowlist entries and add GitHub Actions secrets rules
  .gitleaks.toml
  .gitleaksignore
Due: none

:green_heart: Update .gitleaksignore to add new secret fingerprints and improve comments
  .gitleaksignore
Due: none

:green_heart: Update CI configuration to include type-check step and adjust Snyk scan condition
  .github/workflows/ci.yml
Due: none

:green_heart: Enable Corepack in Dockerfile for improved package management
  Dockerfile
Due: none

:green_heart: Add Docker testing guide and script; update CI for docker-test branch
  .github/workflows/ci.yml
  docs/DOCKER_TESTING.md
  scripts/test-docker.sh
Due: prettier --write

:green_heart: Add .gitkeep to maintain directory structure; update CI to restrict branches and fix Dockerfile copy command
  .github/workflows/ci.yml
  Dockerfile
  docs/DOCKER_TESTING.md
  public/.gitkeep
  scripts/test-docker.sh
Due: prettier --write

:green_heart: Update .gitleaksignore to add new secrets and ensure proper formatting
  .gitleaksignore
Due: none

:green_heart: Enhance CI configuration with workflow dispatch inputs for branch selection, Snyk execution, deployment, and E2E tests
  .github/workflows/ci.yml
Due: none

:green_heart: Enhance CI configuration by adding Docker image verification and improved Trivy scan output for debugging
  .github/workflows/ci.yml
Due: none

:green_heart: Enhance CI configuration by adding Docker image verification and improved Trivy scan output for debugging
  .gitleaksignore
Due: none

:green_heart: Update Dockerfile to use node:22-bookworm-slim and enhance security by updating system packages and installing curl
  Dockerfile
Due: none

:green_heart: Enhance CI configuration by adding permissions for workflow and verifying SARIF file existence
  .github/workflows/ci.yml
Due: none

:green_heart: Enhance CI and Dockerfile by disabling cache for security updates and adding cache busting mechanism
  .github/workflows/ci.yml
  Dockerfile
Due: none

:green_heart: Refactor CI and Dockerfile to enhance security by removing unnecessary package updates and switching to a distroless image for production
  .github/workflows/ci.yml
  Dockerfile
Due: none

:green_heart: Add security update check for CVE-2025-4802 and .trivyignore file
  .github/workflows/ci.yml
  .github/workflows/security-update-check.yml
  .trivyignore
Due: none

:green_heart: Update CI configuration to ignore unfixed CVEs and prevent build failure
  .github/workflows/ci.yml
Due: none

:green_heart: Update CI and security scripts to utilize .trivyignore for managing accepted risks
  .github/workflows/ci.yml
  .github/workflows/security-update-check.yml
  Dockerfile
Due: none

:green_heart: Fix CI configuration to correctly reference trivyignore file for vulnerability management
  .github/workflows/ci.yml
Due: none

:green_heart: Update .trivyignore and CI scripts for CVE-2025-4802 management and Docker image verification
  .github/workflows/ci.yml
  .github/workflows/security-update-check.yml
  .trivyignore
  Dockerfile
Due: none

:sparkles: Articles : Add Posts collection with automatic slug generation and reading time calculation
  src/collections/Posts.ts
  src/payload-types.ts
  src/payload.config.ts
Due: eslint --fix, prettier --write

:sparkles: Tests : Add integration and unit tests for Posts collection, including CRUD operations, automatic slug generation, and reading time calculation
  tests/int/collections/posts.int.spec.ts
  tests/unit/collections/posts-hooks.unit.spec.ts
  tests/unit/collections/posts-utils.unit.spec.ts
Due: eslint --fix, prettier --write
