Repository sebc-dev/blog-payload: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:white_check_mark: Refactor : Standardize interface property formatting in payload-types and update post tests for SEO metadata validation
  src/collections/Posts.ts
  tests/int/collections/posts.int.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:recycle: Refactor : Improve type safety and validation in Posts integration tests and utility functions
  src/collections/Posts.ts
  tests/int/collections/posts.int.spec.ts
  tests/unit/collections/posts-hooks.unit.spec.ts
  tests/unit/collections/posts-utils.unit.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:recycle: Refactor : Enhance type safety and consistency in payload-types and update tests for slug generation
  tests/int/collections/posts.int.spec.ts
  tests/unit/collections/posts-utils.unit.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:memo: Articles : Add bilingual blog collection configuration with automatic slug generation and reading time calculation
  docs/rapports/PROBLEME_ISOLATION_TESTS.md
  docs/rapports/collection-blog-bilingue.md
  docs/rapports/setup-github-secrets.md
Due: prettier --write

:recycle: Refactor : Improve fallback logic for localized text retrieval and update publishedAt date assignment in Posts
  src/collections/Posts.ts
  tests/unit/collections/posts-hooks.unit.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:recycle: Refactor : Enhance import map and type safety in Posts configuration, update slug validation, and improve reading time calculation
  src/app/(payload)/admin/importMap.js
  src/collections/Posts.ts
  src/payload.config.ts
  tests/unit/collections/posts-hooks.unit.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:recycle: Refactor : Enhance type safety in payload types and utility functions, and export utility functions for external use
  src/collections/Posts.ts
  tests/unit/collections/posts-hooks.unit.spec.ts
  tests/unit/collections/posts-utils.unit.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:recycle: Refactor : Improve type safety in payload types, update slug validation to restrict underscores, and adjust reading time calculation in Posts
  src/collections/Posts.ts
  tests/unit/collections/posts-hooks.unit.spec.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:memo: Ajout docs diverses
  docs/code/code-quality.md
  docs/frontend/design-system.md
  docs/rapports/frontend/ui/tailwind_shadcn/chatgpt__cc_command_claude.md
  docs/rapports/frontend/ui/tailwind_shadcn/claude__command_claude.md
  docs/rapports/frontend/ui/tailwind_shadcn/gemini__cc_comand_claude.md
  docs/rapports/frontend/ui/tailwind_shadcn/perplexity__cc_command_claude.md
  docs/rapports/frontend/ui/tailwind_shadcn/rules_ray_fernando.md
  docs/specs/stories/story_1.5/1.5.Affichage-Article-Public.md
Due: prettier --write

:heavy_plus_sign: Add Shadcn theme integration with customizable button components, implement theme toggle functionality, and enhance global styles with Tailwind CSS
  components.json
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/(web)/global.css
  src/app/(web)/page.tsx
  src/app/(web)/test/ShadcnThemeTest.tsx
  src/app/(web)/test/Simple.tsx
  src/app/(web)/test/ThemeTester.tsx
  src/app/(web)/test/page.tsx
  src/app/(web)/test/shadcn/page.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:green_heart: Correction workflow_dispatch
  .github/workflows/ci.yml
Due: none

:heavy_plus_sign: Add Shadcn theme integration with customizable button components, implement theme toggle functionality, and enhance global styles with Tailwind CSS
  src/app/(web)/layout.tsx
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

:construction: Workflow Claude Code
  .claude/agents/implementation-router.md
  .claude/agents/story-technical-analyst.md
  .claude/agents/tdd-cycle-manager.md
  .claude/agents/test.md
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/memories/tech_stack.md
  CLAUDE.md
  docs/code/strategie-test.md
  scripts/validate-tests.sh
Due: prettier --write

fix: upgrade dotenv from 16.4.7 to 16.6.1
  package.json
Due: prettier --write

fix: upgrade next from 15.3.3 to 15.3.5
  package.json
Due: prettier --write

:construction: Workflow Claude Code
  .claude/agents/analyste-technique-stories.md
  .claude/agents/api-architecture.md
  .claude/agents/command-creator.md
  .claude/agents/config-specialist.md
  .claude/agents/database-optimization.md
  .claude/agents/implementation-router.md
  .claude/agents/performance-analysis.md
  .claude/agents/rapid-prototype.md
  .claude/agents/security-review.md
  .claude/agents/story-technical-analyst.md
  .claude/agents/tdd-cycle-manager.md
  .claude/agents/ui-component-builder.md
  .claude/commands/create-command.md
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  docs/rapports/workflow_analysis.md
  docs/security/CLAUDE.md
  docs/security/auth-patterns.md
  docs/security/escalation-playbooks.md
  docs/security/owasp-checklist.md
  docs/security/payload-security.md
  docs/security/templates/corrections.md
  docs/security/templates/security-tests.md
Due: prettier --write

:construction: Workflow Claude Code
  .claude/commands/create-command.md
  .claude/commands/validate-tests.md
  docs/rapports/Vitest et Bash, traitement logs._.md
  scripts/parse-failures.jq
  scripts/validate-tests.sh
Due: prettier --write

:construction: Workflow Claude Code
  .claude/agents/analyste-technique-stories.md
  .claude/agents/implementation-router.md
Due: prettier --write

:construction: Workflow Claude Code
  .claude/agents/analyste-technique-stories.md
Due: prettier --write

:construction: Commands BMAD FR
  .claude/commands/BMad/agents/analyst.md
  .claude/commands/BMad/agents/architect.md
  .claude/commands/BMad/agents/bmad-master.md
  .claude/commands/BMad/agents/bmad-orchestrator.md
  .claude/commands/BMad/agents/dev.md
  .claude/commands/BMad/agents/pm.md
  .claude/commands/BMad/agents/po.md
  .claude/commands/BMad/agents/qa.md
  .claude/commands/BMad/agents/sm.md
  .claude/commands/BMad/agents/ux-expert.md
Due: prettier --write

:memo: Refactoring Docs
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  docs/agents-specialises.md
  docs/architecture/architecture-de-deploiement.md
  docs/architecture/architecture-de-haut-niveau.md
  docs/architecture/composants.md
  docs/architecture/flux-de-travail-de-developpement-development-workflow.md
  docs/architecture/flux-de-travail-principaux-core-workflows.md
  docs/architecture/index.md
  docs/architecture/introduction.md
  docs/architecture/modeles-de-donnees.md
  docs/architecture/monitoring-et-observabilite.md
  docs/architecture/schema-de-la-base-de-donnees.md
  docs/architecture/securite-et-performance.md
  docs/architecture/specification-de-api-rest-graphql.md
  docs/architecture/standards-de-codage-coding-standards.md
  docs/architecture/strategie-de-gestion-des-erreurs-error-handling.md
  docs/architecture/strategie-de-test.md
  docs/architecture/structure-unifiee-du-projet-monorepo.md
  docs/architecture/tech-stack.md
  docs/hooks-configuration.md
  docs/prd/1-buts-et-contexte.md
  docs/prd/2-exigences.md
  docs/prd/3-objectifs-de-conception-de-interface-utilisateur.md
  docs/prd/4-hypotheses-techniques.md
  docs/prd/5-epics.md
  docs/prd/index.md
  docs/specs/architecture.md
Due: prettier --write

fix: upgrade sharp from 0.34.2 to 0.34.3
  package.json
Due: prettier --write

fix: upgrade @payloadcms/db-postgres from 3.48.0 to 3.49.0
  package.json
Due: prettier --write

fix: upgrade @payloadcms/ui from 3.48.0 to 3.49.0
  package.json
Due: prettier --write

Path conditions:
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,css,scss})
